<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @vendor.name %>
</p>

<%= link_to 'Editar', edit_vendor_path(@vendor), :class=>"btn btn-large btn-info  " %> 
<%= link_to 'Volver a listado', vendors_path, :class=>"btn btn-large"%>