<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @location.name %>
</p>


<%= link_to 'Editar', edit_location_path(@location), :class=>"btn btn-large btn-info  " %> 
<%= link_to 'Volver a listado', locations_path, :class=>"btn btn-large"%>